.footer-16371{
    .container{
        .row{
           .col-md-9{
               .social{
                   .list-unstyled{
                        a{
                            i{
                                color: #056fa4;
                            }
                            i:hover{
                                color: #02547d;
                            }
                        }
                   } 
               }
           } 
        }
    }
}