* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

dl, ol, ul {
  padding: 0;
  margin: 0;
}

dl li, ol li, ul li {
  list-style: none;
}

dl li a, ol li a, ul li a {
  text-decoration: none;
}

.m-contacto .v-titulo {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #056fa4;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.m-contacto .contacto .maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-contacto .contacto .maps .zarate {
  margin: 20px;
}

.m-contacto .contacto .maps .oficina {
  margin: 20px;
}

.m-contacto .social .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-contacto .social .list .whatsapp {
  margin-left: 1rem;
}

.m-contacto .social .list .phone {
  margin-left: 1rem;
}

.m-contacto .social .list .mail {
  margin-left: 1rem;
}

.m-contacto .social .list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-contacto .social .list li a {
  padding-left: 5px;
  color: black;
  font-weight: 500;
}

.m-contacto .social .list li a:hover {
  color: #02547d;
}

.m-contacto .social .list li i {
  color: #056fa4;
  padding-left: 1rem;
}

.m-contacto .social .list li i:hover {
  color: #02547d;
}

.m-index .v-titulo {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #056fa4;
  padding-bottom: 1rem;
}

.m-index .accordion {
  margin: 30px;
}

.m-index .accordion .accordion-item {
  border-color: #025782;
}

.m-index .accordion .accordion-item .accordion-button {
  font-weight: 600;
  font-size: 20px;
}

.m-index .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: white;
  background-color: #056fa4;
  border-color: #025782;
}

.m-index .accordion .accordion-item .accordion-collapse {
  background-color: #d9ecf6;
}

.m-index .m-c {
  background-color: #056fa4;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-index .m-c .v-titulo {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding-top: 1rem;
  color: #ffffff;
}

.m-index .m-c .comision .c-div-p {
  text-align: center;
  margin-bottom: 1rem;
}

.m-index .m-c .comision .c-div-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-index .m-c .comision .c-div-s .c-2, .m-index .m-c .comision .c-div-s .c-3, .m-index .m-c .comision .c-div-s .c-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid white;
  height: 10rem;
  padding: 1rem;
}

.m-index .m-c .comision .c-div-s .c-2 h2, .m-index .m-c .comision .c-div-s .c-3 h2, .m-index .m-c .comision .c-div-s .c-4 h2 {
  font-size: 20px;
}

.m-index .m-c .comision .c-div-s .c-5 {
  padding: 1rem;
}

.m-index .m-c .comision .c-div-s .c-5 h2 {
  font-size: 20px;
}

.m-index .card .card-header {
  background-color: #d9ecf6;
  border-bottom: 1px solid #91d5f7;
}

.m-index .card .card-header h2 {
  padding-top: 10px;
}

.m-index .card .card-body {
  background-color: #d9ecf6;
}

.m-index .card .card-body .card-text p {
  text-align: center;
}

.m-index .card .card-body h4 {
  padding-top: 10px;
}

.m-index .card .card-body .btn {
  background-color: #056fa4;
}

.m-index .card .card-body .btn:hover {
  background-color: #025782;
}

.m-nosotros .card {
  background-color: #056fa4;
}

.m-nosotros .card .col-md-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-nosotros .card .col-md-8 .card-body {
  color: white;
}

.m-nosotros .card .col-md-8 .card-body h5 {
  font-size: 40px;
}

.m-nosotros .card .col-md-8 .card-body p {
  font-size: 22px;
}

.m-nosotros .imagenes .v-titulo {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  color: #000000;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.m-nosotros .imagenes .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-nosotros .imagenes .gallery .slide {
  margin: 2px;
}

.m-nosotros .imagenes .gallery .slide .image {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid black;
}

.navbar .container-fluid .navbar-brand img {
  margin-left: 20px;
}

.navbar .container-fluid .collapse .navbar-nav a {
  font-size: 20px;
  font-weight: 500;
  color: #056fa4;
}

.navbar .container-fluid .collapse .navbar-nav a:hover {
  border-bottom: 2px solid #056fa4;
}

.footer-16371 {
  padding: 2rem;
  border-top: 1px solid black;
}

.footer-16371 .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.footer-16371 .footer-site-logo a {
  color: #056fa4;
}

.footer-16371 .nav-links {
  padding: 0;
  margin: 0;
}

.footer-16371 .nav-links li {
  display: inline-block;
}

.footer-16371 .nav-links li a {
  padding: 10px;
  color: black;
}

.footer-16371 .nav-links li a:hover {
  color: #056fa4;
  font-weight: 600;
  border-bottom: 2px solid #056fa4;
}

.footer-16371 .social h3 {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.footer-16371 .social ul li {
  display: inline-block;
}

.m-comunicados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-comunicados .card {
  width: 500px;
}

.m-comunicados .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #056fa4;
  color: white;
}

.footer-16371 .container .row .col-md-9 .social .list-unstyled a i {
  color: #056fa4;
}

.footer-16371 .container .row .col-md-9 .social .list-unstyled a i:hover {
  color: #02547d;
}

@media (max-width: 472px) and (min-width: 300px) {
  .m-index .m-c .comision .c-div-s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
  .m-index .m-c .comision .c-div-s .c-2, .m-index .m-c .comision .c-div-s .c-3, .m-index .m-c .comision .c-div-s .c-4 {
    border-right: none;
    border-bottom: 1px solid white;
    text-align: center;
  }
  .m-index .m-c .comision .c-div-s .c-5 {
    text-align: center;
  }
  .m-index .m-c .comision .c-div-s .c-4 {
    padding: 0;
    padding-top: 2rem;
  }
}

@media (max-width: 472px) and (min-width: 300px) {
  .m-contacto .contacto .maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-contacto .contacto .maps .zarate {
    text-align: center;
  }
  .m-contacto .contacto .maps .oficina {
    text-align: center;
  }
  .m-contacto .social .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 472px) and (min-width: 300px) {
  .m-nosotros .video-responsive {
    position: relative;
    margin-bottom: 20px;
    padding-top: 56.25%;
    /* 16:9 */
  }
  .m-nosotros .video-responsive .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */